<html>
  <head>
    <title>{{ page_title }}</title>
    <style>
      body {
        font-family: "Calibri", cursive, sans-serif;
        text-align: center;
        background-color: #f8f8f8;
        padding-top: 50px;
      }
      h1 {
        color: #333;
      }
    </style>
  </head>
  <body>
    <h1>{{ heading }}</h1>
    <p>As Gregor Samsa awoke one morning from uneasy dreams he found himself transformed in his bed into a gigantic insect</p>
  </body>
</html>
